<div class="modal fade" id="reg-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="loginmodal-container">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <div class="login-popup-logo">
                <img src="../../Content/images/logo-big.png" />
            </div><br>
            <form>
                <div class="reg-icons"><img src="../../Content/images/icon-user-green.png"/></div>
                <input type="text" name="user" placeholder="Имя">
                <input type="text" name="user" placeholder="Фамилия">
                <input type="text" name="user" placeholder="Электронная почта">
                <div class="reg-icons"><img src="../../Content/images/icon-key-green.png" /></div>
                <input type="password" name="pass" placeholder="Пароль">
                <input type="password" name="pass" placeholder="Повторить пароль">
                <input type="submit" name="login" class="login loginmodal-submit" value="Зарегистрироваться">
            </form>

            <div class="login-help">
                <a id="reg-enter-link" data-toggle="modal" data-dismiss="modal" data-target="#login-modal">Войти</a>
            </div>
        </div>
    </div>
</div>

