<div class="container-fluid map-bg">
    <div class="row">
        <div class="col-xs-12">
            <div class="mapContainer">
                <h3>План Этажа</h3>
                <h4>Комнат 12</h4>

                <div class="mapImgContainer">
                    <div class="room" id="room307"><span>307</span></div>
                    <div class="room" id="room311"><span>311</span></div>
                    <div class="room" id="room306"><span>306</span></div>
                    <div class="room" id="room308"><span>308</span></div>
                    <div class="room" id="room309"><span>309</span></div>
                    <div class="room" id="room310"><span>310</span></div>
                    <div class="room" id="room305"><span>305</span></div>
                    <div class="room" id="room312"><span>312</span></div>
                    <div class="room" id="room313"><span>313</span></div>
                    <div class="room" id="room314"><span>314</span></div>
                    <div class="room" id="room315"><span>315</span></div>
                    <div class="room" id="room301"><span>301</span></div>
                    <div class="room" id="room302"><span>302</span></div>
                    <div class="room" id="room303"><span>303</span></div>
                    <div class="room" id="room304"><span>304</span></div>
                    <img src="@Url.Content("~/Content/images/map.png")" usemap="#roommap" />
                    <map name="roommap">
                        @*307*@
                        <area shape="rect" coords="40,25,130,86" href="http://google.com"/>
                        @*308*@
                        <area shape="rect" coords="40,95,125,127" href="http://google.com"/>
                        @*309*@
                        <area shape="rect" coords="40,134,125,172" href="http://google.com"/>
                        @*310*@
                        <area shape="rect" coords="40,180,125,237" href="http://google.com" />
                        @*306*@
                        <area shape="rect" coords="196,28,264,75" href="http://google.com"/>
                        @*305*@
                        <area shape="rect" coords="173,82,264,128" href="http://google.com"/>
                        @*312*@
                        <area shape="rect" coords="190,307,340,394" href="http://google.com"/>
                        @*313*@
                        <area shape="rect" coords="350,307,455,394" href="http://google.com"/>
                        @*314*@
                        <area shape="rect" coords="465,307,611,394" href="http://google.com"/>
                        @*315*@
                        <area shape="rect" coords="621,307,665,337" href="http://google.com"/>
                        @*301*@
                        <area shape="rect" coords="504,165,612,257" href="http://google.com"/>
                        @*302*@
                        <area shape="rect" coords="464,165,500,257" href="http://google.com"/>
                        @*303*@
                        <area shape="rect" coords="295,165,336,257" href="http://google.com"/>
                        @*304*@
                        <area shape="poly" coords="173,192, 285,192, 285,256, 200,256, 173, 225" href="http://google.com" />
                        @*311*@
                        <area shape="circle" coords="105,320,67" href="korr.ua"/>
                        <area shape="circle" coords="55,270,25" href="korr.ua"/>

                    </map>
                </div>
            </div>

        </div>
    </div>
</div>

